<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>{{ title }} - Game</title>
        
    </head>
    <body>
        
        <header>
            
            <div class="badge">
                <img src="{{ url_for('static', filename='game_of_chance.jpg') }}" alt="badge">
                <a href="Game of Chance"></a>
            </div>
            
            <h1>{{ title }}</h1>
            
            <nav>
                <ul>
                    <li> 
                        <a href="/">Homepage</a>
                        <a href="/game">Start Game</a>
                    </li>
                </ul>
            </nav>
            
        </header>
        
        <main>
            <h2>Rock, Paper, or Scissors?</h2>
            {% block content %}{% endblock %}
        </main>

<footer>

   
<p>
    Game of Chance &copy; 1994
</p>
<p>
    Please follow all rules of Game of Chance, failure to do so will result in a permanent ban.
</p>
<p>
    Rules are explained on the Homepage
</p>
</footer>


</body>
</html>