{% extends 'base.html' %}
{% block content %}

<section class="game">
    <p>Do you have what it takes? Find out by risking it all!</p>
    <p>Time to face Player 2!</p>

<form action="/game" method="POST">
    <label for="name">
        <span>Player1</span>
        <input id="name" type="text" name="name" placeholder="Player1">
    </label>

    <label for="choice">
        <span>Rock/Paper/Scissors</span>
        <select name="choice" id="choice">
            <option value="rock">Rock:</option>
            <option value="paper">Paper:</option>
            <option value="scissors">Scissors:</option>
        </select>
    </label>

    <input type="submit" value="Start">

</form>

</section>

{% endblock content %}